
body {
  font-family: Arial;
  text-align: center;
  margin: 30px;
}
.section {
  border: 2px solid #ccc;
  margin-bottom: 40px;
  padding: 20px;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 8px;
  text-align: center;
}
.timer {
  font-size: 30px;
  margin: 20px;
}
.big-button {
  font-size: 30px;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.start-button {
  background-color: green;
  color: white;
}
.stop-button {
  background-color: red;
  color: white;
}
.input-section {
  font-size: 22px;
  margin: 10px;
}
input[type="text"] {
  width: 50%;
  font-size: 18px;
  padding: 8px;
}


/* تكبير حجم خيار نعم / لا */
input[type="radio"] {
  transform: scale(1.5);
  margin: 0 8px;
}

/* تباعد بين الخيارات وخانة سبب التأخير */
.timer-section label {
  display: block;
  margin-bottom: 10px;
}

.timer-section input[type="text"] {
  margin-top: 10px;
  padding: 8px;
  width: 70%;
  font-size: 16px;
}
